extends layout

block content
  div.container
    div.formcontainer
      h1(class='test') Add a new message 
      form(method='POST', action='/new')
          div.container
              div.user  
                  div
                    label(for='user') What is your name?  
                  div  
                    input(name='user' type='text' id='user')
              div.message
                div 
                  label(for='text') What's on your mind?  
                div
                  textarea(name='text' rows='5' cols='')
              div.submitbutton
                button.btn(type="submit") Submit