body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:lightcyan;
  display:grid;
  gap:2rem;
}

a{
  text-decoration:none;
}


/*message board styles*/

.header{
  display:flex;
  justify-content:center;
  box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.username{
  font-weight:bolder;
}

.message-card{
  background-color:white;
  border-radius:.3rem;
  display:flex;
  gap:2rem;
  flex-direction:column;
  justify-items:center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 2rem;
  width: 45rem;
}


.message-container{
  display:flex;
  flex-direction:column;
  gap:1rem;
}

.user-date-field{
  display:flex;
  justify-content:space-between;
}

/*Form page styles*/

.formcontainer{
  background-color:white;
  margin-top:10rem;
  display:grid;
  justify-content:center;
  font-size:1.2rem;
  grid-template-columns:1;
  gap:1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: rem;
  border-radius:1rem;
  padding-bottom: 2rem;
  padding: 0 2rem 2rem;
  border:.2rem aqua solid
}


.container {
  display:grid;
  justify-items:center;
  flex-direction:column;
  gap:1rem;
}

.formcontainer label{
  padding-right:2rem;
}

input, textarea {
  padding-right:10rem;
  padding-top:.4rem; 
  border-radius:.2rem;
  box-sizing:content-box;
  border: .2rem solid aqua;
  resize:none;
}

input:focus, textarea:focus{
  border-color:indigo
}

.user, .message{
  display:grid;
  justify-items:center;
}



.btn{
  padding: 1rem 1rem 1rem 1rem;
  border-radius:.2rem;
  display:flex;
  place-self:center;
  font-size:1.1rem;
  background-color:white
}

.btn:hover{
  background-color: aqua;
}